@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// boldness level
$bld-l9: 900;
$bld-l8: 800;
$bld-l7: 700;
$bld-l6: 600;
$bld-l5: 500;
$bld-l4: 400;
$bld-l3: 300;
$bld-l2: 200;

// font sizes
$fnt-head: 8rem;
$fnt-subhead: 4rem;
$fnt-normal: 2rem;

// theme-based font style
$primaryFont: 'Poppins', sans-serif;